p {
	margin-bottom: 30px;
}

.char {
	display: inline-block;
	padding: 3px;
}

.char.correct {
	background-color: rgba(139, 195, 74, 0.36);
}

.char.incorrect {
	background-color: rgba(244, 67, 54, 0.26);
}
